@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #111827;
}

html {
  background-color: #f3f4f6;
}

html.dark {
  background-color: #111827;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb {
  background: #374151; /* gray-700 */
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* gray-600 */
}
