@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-none::-webkit-scrollbar { display: none; }

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb {
  background: #1f2937;
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #111827;
}
